@use "sass:color";
@use "index" as *;

.sheet {
  @include flexbox();
}

/* === Portrait Section === */
.sheet__portrait {
  @include flexbox();

  height: 10em;
  width: 9em;

  border-width: 3px;
  border-style: solid;
  border-color: $clr-border;
  border-radius: $border-radius;

  &--completed {
    border-color: color.scale($clr-highlight, $lightness: -20%);
  }

  & .sheet__icon--completed {
    color: color.scale($clr-highlight, $lightness: -20%);
  }
}

/* === Info Section === */
.sheet__info {
  padding: 0 $gap;
  flex: 1;
}

/* === Stats Section === */
.stats {
  padding: 0 $gap;
}
