@use "sass:color";
@use "index" as *;

.tab-strip {
  @include flexbox(row, space-around, stretch);
  gap: $gap;
}

.tab-strip--secondary {
  justify-content: center;
  gap: calc($gap / 2) $gap;
  margin: calc($gap) 0;
}

.tab {
  @include button-style($bg-color: transparent);
  @include button-text-font();
  @include button-sizing($min-width: auto, $padding: 0 $gap);
  @include button-focus-visible-outline();

  &:hover:not(.is-disabled) {
  }

  &.is-active {
    color: $clr-highlight;
  }

  &.is-disabled {
    cursor: default;
    color: $clr-gray;
    opacity: 0.7;
  }
}

.tab--secondary {
  @include button-sizing($min-width: auto, $padding: 0 $gap);
  opacity: 0.85;

  border-radius: 1000px;
  border-width: 1px;
  border-style: solid;
  border-color: $clr-border;

  background: $clr-ui-bg;

  &.is-active {
    opacity: 1;
    color: color.scale($clr-highlight, $lightness: 10%);
    border-color: color.scale($clr-highlight, $lightness: -20%);
  }
}

.tab__label {
  display: inline-block;
  font-family: $font-family-header;
  font-size: 1.5rem;
}

.tab--secondary .tab__label {
  font-size: 1.2rem;
}
