@use "sass:color";
@use "index" as *;

.gear-slots {
  display: grid;

  grid:
    "weapon head shield"
    "weapon chest shield"
    "weapon legs shield"
    "weapon boots shield"
    / auto auto auto;

  gap: $gap;
  align-items: end;
}

.gear-slot {
  @include button-text-font();
  @include button-focus-visible-outline();

  @include panel($bg: $clr-ui-bg, $padding: 0);
  @include panel-shadow($border-width: 2px, $border-color: $clr-gray);

  height: 100px;
  width: 100px;
}

.gear-slot-large {
  height: calc(200px + $gap);
}

.weapon {
  grid-area: weapon;
}
.shield {
  grid-area: shield;
}
.head {
  grid-area: head;
}
.chest {
  grid-area: chest;
}
.legs {
  grid-area: legs;
}
.boots {
  grid-area: boots;
}

.unequipped {
  opacity: 0.5;
}

.selected {
  border: 3px solid $clr-border;
}
