@use "sass:color";
@use "index" as *;

.container {
  display: grid;
  grid:
    "stage stage stage" auto
    "boss-health boss-health boss-health" auto
    "buffs boss damage" 2fr
    "buffs player damage" 1fr
    "exp exp exp" auto
    / auto 1fr auto;

  gap: $gap;

  height: 100%;
}

.stage {
  grid-area: stage;
}

.boss-health {
  grid-area: boss-health;
  margin-left: 100px;
}

.boss {
  grid-area: boss;

  @include flexbox();
}

.player {
  grid-area: player;

  @include flexbox($align: flex-end);
}

.icon {
  @include disable-text-selection();
  font-size: 6rem;

  &:hover {
    cursor: pointer;
    margin-bottom: 1rem;
    transform: scale(1.2);
    transition:
      transform 0.2s,
      margin-bottom 0.2s;
  }
}

.damage-area {
  grid-area: damage;
}

.experience-bar {
  grid-area: exp;
}
