@use "sass:color";
@use "index" as *;

.item {
  display: grid;
  grid:
    "item-display item-slots"
    / auto 1fr;
}

.item-display {
  grid-area: item-display;

  @include panel($bg: $clr-ui-bg);
  @include panel-shadow($border-width: 2px, $border-color: $clr-border);

  cursor: pointer;

  height: 320px;
  width: 220px;

  display: flex;

  // Center Display
  // justify-self: center;
  // align-self: center;

  // Center Icon
  justify-items: center;
  align-items: center;
}

.item-slots {
  grid-area: item-slots;

  @include flexbox($dir: column, $align: center, $justify: center);

  gap: $gap;
}

.item-slot {
  @include button-text-font();
  @include button-focus-visible-outline();

  @include panel($bg: $clr-ui-bg);
  @include panel-shadow($border-width: 2px, $border-color: $clr-gray);

  height: 70px;
  width: 90%;

  > h2 {
    font-size: 1.8em;
    font-weight: normal;
  }
}

.selected {
  border: 3px solid $clr-border;

  > h2 {
    font-size: 2em;
    font-weight: bold;
  }
}

.enchanting-options {
  @include flexbox();
  gap: $gap;
}

.enchant-button {
  width: 150px;
}
