@use "sass:color";
@use "index" as *;

.health-bar-bg {
  @include panel-shadow();
  background: $clr-black;
  height: 2rem;

  border-radius: $border-radius;
  border-color: $clr-black;
}

.health-bar-fill {
  height: 100%;
  background: $grad-health-bar;
  border-radius: $border-radius;
  transition: width 0.6s cubic-bezier(0.4, 0.8, 0.6, 1);
}

.health-bar-text {
  @include disable-text-selection();

  display: block;
  white-space: nowrap;
  text-align: center;

  color: $clr-text-primary;
  font-size: 1.2rem;
  font-weight: 600;
}
