@use "sass:color";
@use "index" as *;

.sheet {
  @include relative-container();
  display: grid;
  grid:
    "portrait info" auto
    "stats stats" 1fr
    / auto 1fr;

  gap: $gap;
}

.sheet__portrait {
  grid-area: portrait;
  object-fit: cover;
  border-radius: $border-radius;
}

/* === Info Section === */
.sheet__info {
  grid-area: info;
  padding: 0 $gap;
}

/* === Stats Section === */
.sheet__stats {
  grid-area: stats;
  padding: 0 $gap;
  flex: 1;
}
